{% extends 'home.html' %}

{% block content %}
<div style="width: 100%; border: 1px solid; border-color: black; margin: 10px">
    <form action="" method="GET" enctype="multipart/form-data">
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit" style="margin: 10px">Search <i class="bi bi-plus"></i>
        </button>
    </form>
</div>

{% for book in books %}
<div class="book" style="width: 100%; border: 1px solid; border-color: black; margin: 10px">
    <h2>{{ book.title }}</h2>
    <p>{{ book.description }}</p>
    <p>{{ book.author }}</p>
    <p>{{ book.created_at }}</p>
    <p>{{ book.updated_at }}</p>
    <a href="/books/{{ book.id }}">
        <button>Read</button>
    </a>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for i in list_pages %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
</nav>

{% endblock content %}